---
name: Update version

on:
  workflow_call:
    inputs:
      manifests_dir:
        description: "Path of manifests directory"
        required: false
        type: string
        default: manifests
      service_config_file:
        description: "The configuration file for the service to be synced (relative to the manifests directory)"
        required: true
        type: string
      file:
        description: "Relative path of the file to get the version update"
        required: true
        type: string
      version_json_path:
        description: "Json path of the version"
        required: false
        type: string
        default: .images[0].newTag
      commit_sha:
        description: "Commit that triggered this change"
        required: true
        type: string

concurrency:
  group: update-version

jobs:
  update_version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: main
      - name: Update version
        env:
          CONFIG_FILE: ${{ inputs.manifests_dir }}/${{ inputs.service_config_file }}
        run: |
          echo "SERVICE_NAME=$(yq '.service_name' $CONFIG_FILE)" >> $GITHUB_ENV
          echo "ENVIRONMENT=$(yq '.env' $CONFIG_FILE)" >> $GITHUB_ENV
          yq -i "${{ inputs.version_json_path }} = \"${{ inputs.commit_sha }}\"" "${{ inputs.file }}"
      - name: Push new version
        uses: EndBug/add-and-commit@v9
        with:
          message: Update ${{ env.SERVICE_NAME }} to version ${{ inputs.commit_sha }} in ${{ env.ENVIRONMENT }} environment
          tag: 'release-${{ env.ENVIRONMENT }}-${{ inputs.commit_sha }}'
          default_author: github_actions
          pull: '--rebase --autostash'